In [25]:
import pandas as pd

from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

engine.connect()

df_iter = pd.read_csv('taxi+_zone_lookup.csv', iterator=True, chunksize=10000)
df = next(df_iter)

df.head

<bound method NDFrame.head of      LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]>

In [26]:
df.to_sql(name='yellow_taxi_data_zones', con=engine, if_exists='append')

265

In [ ]:
from time import time

while True:
    t_start = time()
    
    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data_zones', con=engine, if_exists='append')

    t_end = time()
    
    print('insterted another chunck... took %.3f second' % (t_end - t_start))