In [17]:
import pandas as pd

from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

engine.connect()

df_iter = pd.read_csv('green_tripdata_2019-09.csv', iterator=True, chunksize=10000)
df = next(df_iter)

df.head

<bound method NDFrame.head of       VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
0            2  2019-09-01 00:10:53   2019-09-01 00:23:46                  N
1            2  2019-09-01 00:31:22   2019-09-01 00:44:37                  N
2            2  2019-09-01 00:50:24   2019-09-01 01:03:20                  N
3            2  2019-09-01 00:27:06   2019-09-01 00:33:22                  N
4            2  2019-09-01 00:43:23   2019-09-01 00:59:54                  N
...        ...                  ...                   ...                ...
9995         2  2019-09-01 21:12:50   2019-09-01 21:21:44                  N
9996         2  2019-09-01 21:34:11   2019-09-01 21:48:58                  N
9997         2  2019-09-01 21:59:57   2019-09-01 22:03:55                  N
9998         2  2019-09-01 21:12:36   2019-09-01 21:24:06                  N
9999         2  2019-09-01 21:13:41   2019-09-01 21:38:04                  N

      RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
0              1            65           189                5           2.00
1              1            97           225                5           3.20
2              1            37            61                5           2.99
3              1           145           112                1           1.73
4              1           112           198                1           3.42
...          ...           ...           ...              ...            ...
9995           1             7           179                1           1.58
9996           1             7           236                1           4.21
9997           1           146           193                1           1.06
9998           1            93           130                1           4.22
9999           1            54            61                1           3.86

      fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
0            10.5    0.5      0.5        2.36           0.0        NaN
1            12.0    0.5      0.5        0.00           0.0        NaN
2            12.0    0.5      0.5        0.00           0.0        NaN
3             7.5    0.5      0.5        1.50           0.0        NaN
4            14.0    0.5      0.5        3.06           0.0        NaN
...           ...    ...      ...         ...           ...        ...
9995          8.0    0.5      0.5        0.00           0.0        NaN
9996         14.5    0.5      0.5        0.00           0.0        NaN
9997          5.5    0.5      0.5        1.36           0.0        NaN
9998         14.0    0.5      0.5        0.00           0.0        NaN
9999         17.0    0.5      0.5        0.00           0.0        NaN

      improvement_surcharge  total_amount  payment_type  trip_type  \
0                       0.3         14.16             1          1
1                       0.3         13.30             2          1
2                       0.3         13.30             2          1
3                       0.3         10.30             1          1
4                       0.3         18.36             1          1
...                     ...           ...           ...        ...
9995                    0.3          9.30             2          1
9996                    0.3         18.55             2          1
9997                    0.3          8.16             1          1
9998                    0.3         15.30             1          1
9999                    0.3         18.30             2          1

      congestion_surcharge
0                     0.00
1                     0.00
2                     0.00
3                     0.00
4                     0.00
...                    ...
9995                  0.00
9996                  2.75
9997                  0.00
9998                  0.00
9999                  0.00

[10000 rows x 20 columns]>

In [18]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

1000

In [19]:
from time import time

while True:
    t_start = time()
    
    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()
    
    print('insterted another chunck... took %.3f second' % (t_end - t_start))

insterted another chunck... took 1.127 second
insterted another chunck... took 1.130 second
insterted another chunck... took 1.134 second
insterted another chunck... took 1.000 second
insterted another chunck... took 0.983 second
insterted another chunck... took 0.992 second
insterted another chunck... took 1.190 second
insterted another chunck... took 0.938 second
insterted another chunck... took 1.029 second
insterted another chunck... took 0.925 second
insterted another chunck... took 1.185 second
insterted another chunck... took 1.045 second
insterted another chunck... took 1.020 second
insterted another chunck... took 1.008 second
insterted another chunck... took 1.036 second
insterted another chunck... took 0.944 second
insterted another chunck... took 1.014 second
insterted another chunck... took 1.081 second
insterted another chunck... took 1.038 second
insterted another chunck... took 1.103 second
insterted another chunck... took 1.121 second
insterted another chunck... took 1.054 second
insterted another chunck... took 1.067 second
insterted another chunck... took 0.936 second
insterted another chunck... took 1.085 second
insterted another chunck... took 1.092 second
insterted another chunck... took 1.037 second
insterted another chunck... took 1.097 second
insterted another chunck... took 0.963 second
insterted another chunck... took 1.102 second
insterted another chunck... took 0.982 second
insterted another chunck... took 1.127 second
insterted another chunck... took 1.041 second
insterted another chunck... took 1.012 second
insterted another chunck... took 1.105 second
insterted another chunck... took 0.950 second
insterted another chunck... took 1.068 second
insterted another chunck... took 1.004 second
insterted another chunck... took 1.032 second
insterted another chunck... took 0.948 second
insterted another chunck... took 0.862 second
insterted another chunck... took 0.876 second
insterted another chunck... took 0.892 second
insterted another chunck... took 0.766 second

StopIteration: